{
    "catalog_id": "tra-la-la",
    "service_key_file": "tra-la-la-tra-la-la-tra-la-la.tra-la-la",
    "service_account_id": "tra-la-la",
    "env_source_image_id": "tra-la-la",
    "instance_cores": "4",
    "disk_type": "tra-la-la-a",
    "disk_size_gb": "15",
    "zone": "ru-tra-la-la-a",
    "subnet_id": "tra-la-la",
    "yc_skip_create_image": "tra-la-la",
    "ssh_username": "tra-la-la"
