{
    "env_yc_catalog_id": "tra-la-la",
    "env_yc_service_key_file": "tra-la-la-tra-la-la-tra-la-la.tra-la-la",
    "env_yc_service_account_id": "tra-la-la",
    "env_yc_env_source_image_id": "tra-la-la",
    "env_yc_instance_cores": "tra-la-la",
    "env_yc_disk_type": "tra-la-la-tra-la-la",
    "env_yc_disk_size_gb": "tra-la-la",
    "env_yc_zone": "ru-tra-la-la-a",
    "env_yc_subnet_id": "tra-la-la",
    "env_yc_skip_create_image": "tra-la-la",
    "env_ssh_username": "tra-la-la"

}
