{
    "catalog_id": "some_catalog_id",
    "service_key_file": "some_service.json",
    "service_account_id": "some_service_account_id",
    "env_source_image_id": "some_env_source_image_id",
    "image_family": "some_image_family",
    "instance_cores": "4",
    "disk_type": "network-hdd",
    "disk_size_gb": "12",
    "zone": "some_-zone",
    "subnet_id": "some_",
    "skip_create_image": "false",
    "env_ssh_username": "some_username",
    "old_variant_env_yc_env_source_image_id": "some_"
}
